
.shopitem{
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
    border:5px solid black;
    max-height: 250px;
    margin-left:40px;
    margin-right:40px;
}
.ware{
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
    border:5px solid black;
    max-height: 250px;
    margin-left:40px;
    margin-right:40px;
}
.ware-item{
    height: 200px;
    max-width: 200px;
    float:left;

}
.ware-description{
    font-size: 2rem;
    margin-right:auto;
}
a:hover{
    color:rgb(2, 1, 8);
}
a:visited{
    color:rgb(22, 0, 104)
}


h1{
    font-size: 3.5rem;
    color:rgb(0, 0, 0);
}
h2{
    font-size: 2.5rem;
    color:blue;
} 

header{
    background-color: rgb(42,157,244);
    font-size: 2rem;
}
footer{
    background-color: rgb(42,157,244);
    font-size: 2rem;
    margin-top: 5rem;
}

.Home-Body{
    background-color: blanchedalmond;
}

#allitems{
    
    

}

.ownBgColor{
    background-color: rgb(208, 239, 255);
}

.itemBgColor{
    background-color: rgb(3, 37, 76);
}

.itemstogether{
    
}

.sepitem{
    min-height: fit-content;
    max-width: 40vw;
    max-height: 60vh;
    
}
.itemtitle{
    word-wrap: break-word;
}
.sepitem img{
    min-height: 20vh;
    max-width: 30vw;
    max-height: 30vh;
    
    margin: 0 auto;

    
}
#cartitem{
    min-height: fit-content;
    max-width: 40vw;
    max-height: 60vh;
    min-height:50vh;
}
#cartitem img{
    min-height: 20vh;
    max-width: 30vw;
    max-height: 30vh;
    
    margin: 0 auto;
}

#order img{
    min-height: 20vh;
    max-width: 30vw;
    max-height: 30vh;
    
    margin: 0 auto;
}
.carousel{
    min-height: 50vh;
    max-width: 50vh;
    min-width:30vh;
    max-height: 80vh;
    margin: 0 auto;
}

.carousel img{
    min-height: 50vh;
    max-width: 50vh;
    min-width:30vh;
    max-height: 80vh;
    
    margin: 0 auto;
}
.carousel video{
    min-height: 60vh;
    max-width: 40vw;
    max-height: 80vh;
    
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next{
    bottom: 75%;
}

body { 
    padding-top:75px;
    padding-bottom: 75px; }

#messages{
    max-height: 38vh;
}
#cartitems{
    max-height:60vh;
}
#cartitems img{
    max-height:20vh;
}
#cartitem{
    max-height: 30vh;
}
#badgetext{
    width: 8rem;
}